*.iml
.gradle/
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab

# El binario de rclone se descarga en build/release, no se versiona pesado en git
module/bin/rclone
